.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
    
  .agenda{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid hsl(0, 0%, 0%);
    width: 550px;
    .nomes{
      display: flex;
      padding: 10px;
      align-items: center;
      justify-content: space-between;
      width: 500px;
      height: 6px;
    }
    .contato{
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      width: 500px;
      height: 30px;
    }
  }
}

.inputs{
  input{
    margin: 15px;

  }
}